@model IEnumerable<TaskApplication.Models.SubTask>

@{
    ViewBag.Title = "Issue sub-tasks";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="subtaskcontainer">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubTaskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTaskDescrioption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubTaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTaskDescrioption)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                @{  if (item.Status.StatusName.ToString() == "Open")
                    {
                        @Ajax.ActionLink("Resolve issue", "_ChangeSubTaskStatus", "SubTask", new { issueId = item.IssueId, subTaskId = item.SubTaskId }, new AjaxOptions { UpdateTargetId = "subtaskcontainer" })
                        @*@Html.ActionLink("Resolve", "Edit", new { id = item.SubTaskId });*@
                    }
                    if (item.Status.StatusName.ToString() == "Resolve")
                    {
                        @Ajax.ActionLink("Open issue", "_ChangeSubTaskStatus", "SubTask", new { issueId = item.IssueId, subTaskId = item.SubTaskId }, new AjaxOptions { UpdateTargetId = "subtaskcontainer" })
                        @*@Html.ActionLink("Open", "Edit", new { id = item.SubTaskId });*@
                    }
                }
                | @Html.ActionLink("Edit", "Edit", new { id = item.SubTaskId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SubTaskId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SubTaskId })
            </td>
        </tr>
    }
</table>


@*
        
        $.ajax({
            type: "GET",
            url: "/ajaxUrl",
            data: { id: id },
            beforeSend: function () {
                /* что-то сделать перед */
            },
            success: function (data) {
                /* обработать результат */
            },
            error: function () {
                /* обработать ошибку */
            }
        });
        *@