@model TaskApplication.Models.SubTask

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>SubTask</legend>

    <div class="display-label">
        <span>@Html.DisplayNameFor(model => model.SubTaskName): </span>@Html.DisplayFor(model => model.SubTaskName)
    </div>
    <div class="display-label">
        <span>@Html.DisplayNameFor(model => model.SubTaskDescrioption): </span>@Html.DisplayFor(model => model.SubTaskDescrioption)
    </div>
    <div class="display-label">
        <span>@Html.DisplayNameFor(model => model.IssueId): </span>@Html.DisplayFor(model => model.Issue.IssueName)
    </div>
    <div class="display-label">
        <span>@Html.DisplayNameFor(model => model.StatusId): </span>@Html.DisplayFor(model => model.Status.StatusName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" />
        @Html.ActionLink("Back to Issue", "Edit", "Issue", new { id = Model.IssueId }, null)
    </p>
}
