@model IEnumerable<TaskApplication.DataAccess.Entities.Issue>
@using TaskApplication.DataAccess.Entities

@{
    ViewBag.Title = "Issues to do";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create") | 
    @if (@ViewBag.isAnyResolvedIssue == null)
    {
        @Html.ActionLink("Delete all resolved issues", "DeleteResolved")
    }
    else
    {
        @ViewBag.isAnyResolvedIssue
    }
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IssueName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueDescription)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.StatusId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueCreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueUpdateDate)
        </th>
        <th>
            Control
        </th>
        <th></th>
    </tr>

    @{Issue previousItem = null;}
    @foreach (var item in Model)
    {
        if (previousItem == null || previousItem.CategoryId != item.CategoryId)
        {
            previousItem = item;
        <tr>
            <td colspan="6" class="table-category-title ">Category: @item.Category.CategoryName</td>
        </tr>
        }
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssueName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDescription)
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
               <td>
                @Html.DisplayFor(modelItem => item.IssueCreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueUpdateDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IssueId }) |
            @Html.ActionLink("Details", "Details", new { id = item.IssueId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IssueId })
            </td>
        </tr>
    }

</table>
